.hero {
  background-image: url("../../../../assets/circule.svg");
  background-repeat: no-repeat;
  background-position-y: -60rem;
  background-position-x: center;
  height: 100vh;
}
.hero__container {
  max-width: var(--screen-size);
  margin: 0 auto;
  height: 100%;
}
.hero__wrapper {
  margin: 0 var(--m-horizontal-small);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-content: space-between;
}
.hero__images {
  text-align: center;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero__image {
  height: 60%;
  filter: drop-shadow(25px 25px 80px rgba(54, 83, 107, 0.3));
}
.hero__title {
  color: var(--blue-dark);
  text-align: center;
  margin-bottom: 3rem;
}
.hero__content {
  align-self: flex-start;
  width: 100%;
  height: 50%;
}
.hero__copy {
  font-family: var(--font-ps);
  color: var(--blue-dark);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
}
.hero__copy a {
  color: var(--blue-dark);
  text-decoration: none;
}

@media (min-width: 425px) {
  .hero__images {
    height: 60%;
  }
  .hero__image {
    width: 30%;
  }
  .hero__title {
    width: 70%;
    margin: auto;
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: url("../../../../assets/circule.svg");
    background-repeat: no-repeat;
    background-position-y: -80rem;
    background-position-x: center;
    background-size: 110rem;
    height: 100vh;
  }
  .hero__image {
    height: 80%;
  }
}
@media (min-width: 1024px) {
  .hero {
    background-image: url("../../../../assets/circule.svg");
    background-repeat: no-repeat;
    background-position-y: -30rem;
    background-position-x: 140%;
    background-size: 90rem;
    height: 100vh;
  }
  .hero__wrapper {
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-content: center;
  }
  .hero__images {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 2;
  }
  .hero__image {
    width: 55%;
    transform: translateX(-40%);
  }
  .hero__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    order: 1;
    width: 60%;
  }
  .hero__title {
    margin-top: 0;
    margin-left: 0;
    text-align: left;
    margin-bottom: 6rem;
    font-size: 7.2rem;
    font-weight: 200;
    line-height: 8rem;
    width: 90%;
  }
  .hero__input {
    width: 100%;
  }
  .hero__copy {
    font-family: var(--font-ps);
    color: var(--blue-dark);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
  }
}
