@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /*  CCOLORS  */
  --dark-pink: #ba4270;
  --light-pink: #ba4270;
  --water-white: #fbfcfe;
  --blue-dark: #36536b;
  --blue-light: #edf3f8;
  --blue-medium: #d2dbe3;
  --dark-gray-2: #1b262f;
  --light-blue-2: #6c8294;

  /*  FONTS  */
  --font-dm: "DM Serif Display", serif;
  --font-ps: "Public Sans", sans-serif;

  /*  SIZE  */
  --screen-size: 1110px;
  --m-horizontal-small: 2.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: var(--blue-light);
}

.primary-heading-big {
  font-family: var(--font-dm);
  font-size: 7.2rem;
}
.primary-heading-small {
  font-family: var(--font-dm);
  font-size: 5.6rem;
}
.secundary-heading {
  font-family: var(--font-dm);
  font-size: 4.8rem;
}
.tetiary-heading-big {
  font-family: var(--font-dm);
  font-size: 3.2rem;
}
.tetiary-heading-small {
  font-family: var(--font-ps);
  font-size: 1.8rem;
}
.forth-headingl {
  font-family: var(--font-dm);
  font-size: 2.4rem;
}
